{
  "presets": [
    "react-app"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
    "react-hot-loader/babel",
    [
      "@babel/plugin-proposal-decorators",
      { "legacy": true }
    ],
    "@babel/plugin-proposal-optional-chaining"
  ]
}